language: python
python:
  - "3.6"

# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests

before_script:
  - cd test

script:
  - python conversationtest.py

branches:
    only:
        - master
        - unittest